<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="result_objects" frontName="result_objects">
            <module name="TrainingUnit1_ResultObjects"/>
        </route>
    </router>
</config>
