<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TrainingUnit4_AdminPage::adminpage"
             title="Admin Page - Learning"
             translate="title"
             module="TrainingUnit4_AdminPage"
             sortOrder="80"
             parent="Magento_Sales::sales_operation"
             action="adminpage/index/index"
             resource="TrainingUnit4_AdminPage::adminpage"/>
    </menu>
</config>
